:root {
  --font: "Roboto", "Arial", sans-serif;
  --font-basic: 17px;
  --line-heigth-basic: 26px;

  --text-color: #000000;
  --link-color: #0068ff;
  --border-color: #cccccc;

  --tablet-width: 768px;
  --desktop-width: 1440px;
}

/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font);
  font-size: var(--font-basic);
  line-height: var(--line-heigth-basic);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

p {
  margin: 20px 0;
}

.link {
  color: var(--link-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* STYLES */

.title {
  margin: 0 0 20px;

  font-size: 36px;
  line-height: 40px;
}

.article-image {
  margin-bottom: 8px;
}

.article-caption {
  font-size: 15px;
  line-height: 24px;
}

.recommended-header {
  margin: 0 0 20px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

.recommended-list {
  margin: 0;
  padding: 0;
}

.article-link {
  text-decoration: none;
}

.aside-link {
  font-size: 13px;
  line-height: 20px;
}

.author__name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.author__description {
  font-size: 13px;
  line-height: 20px;
}
